<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>Todos</h1>
    <div id="app">
        <input type="text" name="description" id="description" v-model="currentDescription">
        <button v-on:click="newTodo">Novo</button>
        <button v-on:click="editDo">Salvar</button>
        <ul v-if="todos.length > 0">
            <li v-for="todo in todos">
                {{ todo.description }}
                | <button v-on:click="edit(todo)">editar</button>
                | <button v-on:click="remove(todo.id)">apagar</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                currentDescription: null,
                currentId: null,
                todos: [],
                url: "http://localhost:8181"
            },
            methods: {
                newTodo: function () {
                    vm.currentDescription = null;
                    vm.currentId = null;
                },
                list: function () {
                    axios.get(this.url + '/todos')
                        .then(function (response) {
                            vm.todos = response.data
                        })
                        .catch(function (error) {
                            alert('Deu ruim.');
                        })
                },
                edit: function (todo) {
                    vm.currentDescription = todo.description;
                    vm.currentId = todo.id;
                },
                editDo: function () {
                    var request;
                    if (!vm.currentId) {
                        request = axios.post(this.url + '/todos', {
                            description: vm.currentDescription
                        });
                    } else {
                        request = axios.put(vm.url + '/todos/' + vm.currentId, {
                            id: vm.currentId,
                            description: vm.currentDescription
                        });
                    }
                    request.then(function (response){
                        vm.list();
                        alert('Salvou! :D');
                    });
                },
                remove: function (todo) {
                    axios.delete(vm.url + '/todos/' + todo)
                        .then(function (response) {
                            alert('Registro removido');
                            vm.list();
                        }).catch(function (error) {
                            alert('Não deeeu :/ !');
                        })
                }
            },
            mounted: function () {
                this.list();
            }
        })    
    </script>
</body>

</html>